body {
  margin: 5px;
  padding-top: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

main {
  padding-bottom: 20px;
  margin-left: 50px;
  margin-bottom: 20px;
  margin-right: 20px;
  max-width: 1100px;
  border: 1px solid;
  background-color: #e2c8c8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

w-70{
  width: 70%;
}
